{% extends "base.html" %}

{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static "./css/places.css" %}">
<link rel="stylesheet" href="{% static "./css/select-sub-place.css" %}">
<link rel="stylesheet" href="{% static "./css/place_chat.css" %}">

<link rel="stylesheet" href="{% static "./css/select_sub_place_chat.css" %}">

{% endblock link %}




{% block content %}

    <section class="place-main">

        <div class="src-chat">

            <div class="src">
                <form action="#">
                    <input type="text" placeholder="where are you going? " class="srcbar">
                    <input type="submit" value="Search" class="srcbutton">

                </form>

            </div>


        </div>

    </section>


    <section class="selected-place">


        <div class="content">

            <div class="row">

                <div class="col-md-8 col-sm-2">

                    <div class="place">
                        <div class="place-img">
                            <img src="{%static "./photos/kuakata.png"%}" alt="">
                        </div>
                        <div class="selected-card">
                            <div class="card-header">
                                <p>Selected</p>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Fatrar Char</li>
                                    <li>Gangamati Reserved Forest</li>
                                </ul>
                            </div>
                            <div class="card-foter">
                                <button>Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="sub-place">



                        <div class="sub-place-img">
                            <img src="{%static "./photos/fater_chor.png"%}" alt="">
                        </div>
                        <div class="sub-description">
                            <div class="sub-header">
                                <p>Fatrar Char</p>
                                <div class="cheak-option">
                                    <i class="bi bi-check-circle"></i>
                                    <i class="bi bi-check-circle-fill"></i>
                                </div>


                            </div>
                            <div class="sub-body-des">
                                <p>Lorem ipsum dolor sit 
                                    amet consectetur, adipisicing elit. Aut accusamus 
                                    excepturi quasi officia nemo accusantium esse 
                                    repudiandae ipsam amet modi.
                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="sub-place">



                        <div class="sub-place-img">
                            <img src="{%static "./photos/Gangamati.png"%}" alt="">
                        </div>
                        <div class="sub-description">
                            <div class="sub-header">
                                <p>Gangamati Reserved Forest </p>
                                <div class="cheak-option">
                                    <i class="bi bi-check-circle"></i>
                                    <i class="bi bi-check-circle-fill"></i>
                                </div>


                            </div>
                            <div class="sub-body-des">
                                <p>Lorem ipsum dolor sit 
                                    amet consectetur, adipisicing elit. Aut accusamus 
                                    excepturi quasi officia nemo accusantium esse 
                                    repudiandae ipsam amet modi.
                                </p>
                            </div>
                        </div>
                    </div>






                </div>
    
                <div class="col-md-4">


                    <div class="chatbox">
                        <div class="chat-header">
                            <div class="logo">
                                <img src="{%static "./photos/logo.png"%}" alt="">
                                
                            </div>
                            <p>Plan Support</p>
                            
                            <div class="control">
                                <i class="bi bi-dash-lg"></i>
                                <i class="bi bi-x-lg"></i>
                            </div>
                        </div>

                        <div class="chat-body">
                            <div class="received-msg">
                                <i class="bi bi-person-circle"></i>
                                <div class="msg">
                                    <p>Hello There ! i am sourav kuma sky sadfhasdhf lhfd alsdhf hflksdah fr Roy and ihave</p>
                                </div>
                            </div>


                            <div class="send-msg">
                                <div class="msg">
                                    <p>I am User</p>
                                </div>
                            </div>



                            <div class="suggeation-msg">
                                <div class="send-msg">
                                    <div class="msg">
                                        <p>Plan a trip</p>
                                    </div>
                                </div>
                                <div class="send-msg">
                                    <div class="msg">
                                        <p>Modify Booking</p>
                                    </div>
                                </div>
  
                            </div>

                            <div class="suggeation-msg">
                                <div class="send-msg">
                                    <div class="msg">
                                        <p>Airport Transfar</p>
                                    </div>
                                </div>
                                <div class="send-msg">
                                    <div class="msg">
                                        <p>Reqards Programs</p>
                                    </div>
                                </div>
  
                            </div>


                        </div>

                        <div class="send-msg-bar">
                            <div class="type-msg">

                                <input type="text" placeholder="Type Your Msg Here..">
                                <i class="bi bi-send"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

    
    
    {% endblock content %}