{% extends "base.html" %}
{% load static %}

{% block link %}
<style>

</style>
{% endblock link %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-5">
        <div class="card-header">
            <h5>Weather Forecast</h5>
        </div>
        <div class="card-body">
            <form id="dateForm">
                <div class="form-group">
                    <label for="selected-date">Select Date:</label>
                    <input type="date" id="selected-date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="city-name">City Name</label>
                    <input type="text" id="selected-city" class="form-control" placeholder="Dhaka">
                </div>
                <button type="button" class="btn btn-primary" onclick="getWeather()">Get Weather</button>
            </form>

            <div id="weather-info" class="mt-4">
                
            </div>
        </div>
    </div>
</div>

<script>
    function getWeather() {
        var selectedDate = document.getElementById('selected-date').value;
        var selectedCity = document.getElementById('selected-city').value;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log(response.weather_data.location);
            }
        };

        var url = '/get_weather/?selected_date=' + selectedDate + '&selected_city=' + selectedCity;
        xhr.open('GET', url, true);
        xhr.send();
    }
</script>

{% endblock content %}
